.container {
    max-width: 1200px;
    margin: 0 auto;  
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

    border-bottom: 2px solid #000;
}

.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.sub-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}